<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="mkg20001.net - Maciej Krüger">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mkg20001.net</title>
    <meta name="google-site-verification" content="ihTkYAmA5dImsXjZoIyWd8DW4daEH5Pcs1Lo6Zbi37s" />
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="mkg20001">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="stylesheet" href="styles.css" async>
  </head>
  <body>
  <!-- nav
  <% for (var p in pages) {u=pages[p]; %>
    <li><a href="<%= u %>"><%= p %></a></li>
  <% }; %>
  !-->
    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
      <main class="mdl-layout__content">
        <!-- inner -->
        <div class="demo-blog__posts mdl-grid">
          <div class="mdl-card coffee-pic mdl-cell mdl-cell--8-col">
            <div class="mdl-card__media mdl-color-text--grey-50">
              <h3><a href="#">Maciej Krüger</a></h3>
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
              <div>
                <h3>Hobby Developer<br>with Creativity</h3>
              </div>
            </div>
          </div>
          <h2>I belive in the power of Open Source Software and I am creating Open Source Projects</h2>
          <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
            <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
              <i class="fa fa-code" style="font-size:15em;"></i>
            </div>
          </div>
          </div>!-->
          <!--<div class="mdl-card mdl-cell mdl-cell--12-col">
            <div style="background-image:url('bg.png');" class="mdl-card__media mdl-color-text--grey-50">
              <h3><a href="url" >%</a></h3>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              %desc%
            </div>
            <div onclick="window.location.href='url" class="mdl-card__supporting-text meta mdl-color-text--grey-600">
              <div class="minilogo" style="background-image:url('logo.png');"></div>
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_forward</i>
              </button>
              <div>
                %
              </div>
            </div>
          </div>!-->
          <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div style="background-image:url('images/OS-Loader.png');" class="mdl-card__media mdl-color-text--grey-50">
              <h3><a href="https://os-loader.github.io">OS Loader</a></h3>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              Multiple Portable and Live Operating Systems isolated from each other on a single HDD/USB<br>
              Install Operating Systems with one click - just like Software
            </div>
            <div onclick="window.location.href='https://os-loader.github.io';" class="mdl-card__supporting-text meta mdl-color-text--grey-600">
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_forward</i>
              </button>
              <div>
                OS Loader Project
              </div>
            </div>
          </div>
          <nav class="demo-nav mdl-cell mdl-cell--12-col">
            <div class="section-spacer"></div>
            <a href="#" class="demo-nav__button" title="show more">
              Mehr
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_forward</i>
              </button>
            </a>
          </nav>
        </div>
        <!-- /inner -->
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <a href="https://github.com/mkg20001">
              <button class="mdl-mini-footer--social-btn social-btn fa fa-github fa-2x">
                <span class="visuallyhidden">GitHub</span>
              </button>
            </a>
            <a href="https://plus.google.com/u/0/109649014065226325817">
              <button class="mdl-mini-footer--social-btn social-btn fa fa-google-plus fa-2x">
                <span class="visuallyhidden">Google+</span>
              </button>
            </a>
            <a href="https://twitter.com/@mkg20001_">
              <button class="mdl-mini-footer--social-btn social-btn fa fa-twitter fa-2x">
                <span class="visuallyhidden">Twitter</span>
              </button>
            </a>
            <a href="mailto:mkg20001@gmail.com">
              <button class="mdl-mini-footer--social-btn social-btn fa fa-envelope fa-2x">
                <span class="visuallyhidden">E-Mail</span>
              </button>
            </a>
          </div>
        </footer>
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <script src="mdl.js" async></script>
    <link rel="stylesheet" href="mdl.css" async>
  </body>
  <script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
      var link = el.querySelector('a');
      if(!link) {
        return;
      }
      var target = link.getAttribute('href');
      if(!target) {
        return;
      }
      el.addEventListener('click', function() {
        location.href = target;
      });
    });
  </script>
</html>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=de" async>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" async>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" async>
